head, body {
    margin: 0;
    padding: 0;

}

.one {
    background-color: lightpink;

}

.two {
    background-color: black;
    color: white;

}

h1 {
    margin: 0;
    padding-top: 50px;
    width: 100vw;
    text-align: center;
    font-size: 2em;
}

p {
    margin: 0;
    width: 100vw;
    height: 20vw;
    text-align: center;
}